Flask==3.0.3
Flask-SQLAlchemy==3.1.1
psycopg2==2.9.10
yt-dlp==2024.11.10
requests==2.31.0
beautifulsoup4==4.12.3
cloudscraper==1.2.71
fake-useragent==1.4.0
moviepy==1.0.3
ffmpeg-python==0.2.0
opencv-python==4.10.0.84
pillow==10.2.0
lxml==5.1.0
tqdm==4.66.2
progress==1.6
python-dotenv==1.0.1
