<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>

    <a href="{{ url_for('add_user') }}">Add New User</a><br><br>

    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                    <td>
                        <a href="{{ url_for('update_user', user_id=user[0]) }}">Update</a> |
                        <a href="{{ url_for('delete_user', user_id=user[0]) }}" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Download TikTok Video3</h2>
  <form method="POST" action="/download_video">
        <label for="video_url">Enter TikTok video URL:</label>
        <input type="text" id="video_url" name="video_url" required>
        <button type="submit">Download Video</button>
    </form>

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    {% if filename %}
    <a href="{{ url_for('download_video', filename=filename) }}" download>Click here to download the video</a>
    {% endif %}

</body>
</html>
